.wrapper
  = render './shared/side'

  .main
    .main__header
      .main__header__left-box
        %h2.main__header__left-box__current-group
          グループ名
        %ul.main__header__left-box__member
          Member：
          = render partial: './shared/members', locals: { members: ["松村さん", "橋本さん"] }
      =link_to new_group_path, class: "main__header__edit", data: {"turbolinks": false} do
        .main__header__edit__btn
          Edit
    .main__chat
      = render partial: './shared/messages'

    -# .main__form
    -#   = form_foussers_controllerr [@グループ, @メッセージ] do |f|
    -#     .main__form__box
    -#       = f.text_field :content, class: 'main__form__box__input__text', placeholder: 'type a message'
    -#       .main__form__box__input
    -#         = f.label :image, class: 'main__form__box__input__image' do
    -#           = fa_icon 'picture-o', class: 'icon__form fa-image'
    -#           = f.file_field :image, class: 'main__form__box__input__image__file'
    -#       = f.submit 'Send', class: 'main__form__box__submit__btn'

    .main__form
      .main__form__box
        %input#message_content.main__form__box__input__text{name: "message[content]", placeholder: "type a message", type: "text"}/
        .main__form__box__input
          %label.main__form__box__input__image{for: "message_image"}
            %i.icon__form.fa-image
            %input#message_image.main__form__box__input__image__file{name: "message[image]", type: "file"}/
        %input.main__form__box__submit__btn{"data-disable-with": "Send", name: "commit", type: "submit", value: "Send"}/
