.main__chat__message
  .main__chat__message__upper-info
    %p.main__chat__message__upper-info__name
      ほげさん
    %p.main__chat__message__upper-info__time
      2019/10/22 12:50
  %p.main__chat__message__text
    テキストほげほげ