-# .main__chat__message
-#   .main__chat__message__upper-info
-#     %p.main__chat__message__upper-info__name
-#       = messages.user.ほげさん
-#     %p.main__chat__message__upper-info__time
-#       = messages.created_at.strftime("2019/10/22 12:50")
-#   - if messages.content.present?  
-#     = messages.content.テキストほげほげ
-#   = image_tag messages.image.url, class: 'main__chat__message__image' if messages.image.present? 
.main__chat__message
  .main__chat__message__upper-info
    %p.main__chat__message__upper-info__name
      = messages.user.name
    %p.main__chat__message__upper-info__time
      = messages.created_at.strftime("%Y/%m/%d %H:%M")
  - if messages.content.present?
    %p.main__chat__message__text
      = messages.content
  = image_tag messages.image.url, class: 'main__chat__message__image' if messages.image.present?