.notification {
    .notice {
      background-color: $Blue;
      color: $White;
      text-align: center;
    }
  
    .alert {
      background-color: $AlertOrange;
      color: $White;
      text-align: center;
    }
  }
  